* {
    box-sizing: border-box;
}
html {
    background: #1f1f1f;
}
body {
    font-family: "Inter Semi Bold", sans-serif;
    overflow-y: scroll;
    overscroll-behavior-x: none;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 18px #2a51a8, 0 0 5px #007bff;
    background-image: url("./img/bg.png");
    background-color: rgba(17, 17, 21, 0.69);
    background-blend-mode: multiply; /* Adjust blend mode here */
    box-shadow: inset 0 0 80px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    min-width: min-content;
    min-height: 100vh;
    max-width: 800px;
}
span, p, h1, a, ul, li {
    z-index: 999 !important;
}

span,p,a,li {
    font-size: 12px;
}

.container {
    position: relative;
    z-index: 999;
    max-width: 800px;
    margin: 0px auto;
    border-right: 3px solid ;
    border-image: linear-gradient(to bottom, darkblue,  #003096, #0d2bb2, #2f2275) 1;
    padding: 45px;
    border-radius: 5px;
    box-shadow: -5px -10px 20px #2a2881,5px 10px 20px #21174f, -5px 10px 20px #082529, 5px -10px 20px #0a3336;
}



h1 {

    font-size: 38px;
    margin: 0;
}
h2 {
    text-transform: uppercase;

}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:3;
    gap: 2.5px;
    padding: 21px 0px 0px 0px;
    position: relative;
    z-index: 99999;
    text-align: justify-all;
    top: 0;

}

.contact-info a {

    text-decoration: none;
    color: #007bff;
    padding-right: 17px;

}
.contact-info a:hover {
    fill: red;
    color: #a9d4ff;
    padding-right: 17px;

}
svg:hover {
    fill: #a9d4ff;
}

.work-experience {
    margin-bottom: 0px;
}

.skills {
    margin-bottom: 0px;
}
.skills ul li {
    text-transform: uppercase;
    margin-bottom: 2px;
}

.skills ul, .courses ul {
    list-style-type: none;
    padding: 0;
}

 .courses ul li {
    margin-bottom: 5px;
}

.personal-qualities ul li {
    margin-bottom: 19px;
    text-transform: none;
}

.education {
    margin-bottom: 20px;
}

.education ul {
    list-style-type: none;
    padding: 0;
}

.education ul li {
    margin-bottom: 15px ;
}


.flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.flex-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: calc(33.333% - 2*56px/3); /* враховує проміжок між об'єктами */
    /* відступи та інші стилі для об'єктів */
}
.avatar {
    margin: 80px 0 0 0;
    width: 333px;


    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(60 0 255), -5px -10px 60px #2a2881, 5px 10px 120px #21174f, -5px 10px 220px #104153, 5px -10px 220px #0a3336;
}
h3 {
    font-size: 20px;
}
@media (min-width: 421px) and (max-width: 768px){
    body {
        font-family: "Inter Semi Bold", sans-serif;



        background-image: url("./img/bg.png");
        background-blend-mode: color-dodge;
        background-color: rgba(17, 17, 21, 0.69);
        box-shadow: inset 0 0 80px black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 100%;
        min-width: min-content;
        min-height: max-content;


    }
    .container {
        max-width: 768px;
    }
    svg {
       height: 29px;
        width: 29px;
    }
    /*.flex, .flex-top {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    .avatar {
        width: 262px;
    }
    span,p,a,li {
        font-size: 11px;
    }
    h1 {
        font-size: 31px;
    }
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 17px !important;
    }
}


@media (min-width: 0px) and (max-width: 420px){
    svg {
        height: 26px;
        width: 26px;
    }
    .avatar {
        width: 131px;
    }
    span,p,a,li {
        font-size: 9px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 14px !important;
    }
}

